

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th><%= sortable "Date" %></th>
      <th><%= sortable "Time" %></th>
      <th>Location</th>
       <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% object.each do |event| %>

    <tr>
      <td><i class="<%= event.category.logo %>"></i></td>
      <td><%= event.category.name %></td>
      <td><%= link_to event.title, event_path(event.id) %></td>
      <td><%= event.description %></td>
      <td><%= event.date.strftime("%D") %></td>
      <td><%= event.time.strftime("%l:%M %p") %></td>
      <td><%= event.location %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Delete", event_path(event), method: :delete, data: {confirm:'Are you really sure? BE CAREFUL'} %> </td>
    </tr>
<% end %>
  </tbody>
</table> 

